 <div class="card col-sm-5 position-static pt-sm-2 border-0 bg-transparent">
    <div class="card-body bg-info cust-border-round">
      <h5 class="card-title">Schooling</h5>
      <div class="list-group">
        <a href="/list-homeworks" class="list-group-item list-group-item-action list-group-item-info border-0 py-1">Assignments</a>
        <a href="/newhw" class="list-group-item list-group-item-action list-group-item-info border-0 py-1">New Assignment</a>
        <a href="/search-hw" class="list-group-item list-group-item-action list-group-item-info border-0 py-1">Search Assignment</a>
      </div>
    </div>
    <!-- <div class="card-footer">
      <small class="text-muted"></small>
    </div> -->
  </div>