
      <div class="card-deck mt-5 header cust-border-round">
        <div class="card">
          <div class="card-body cust-card-body">
            <h5 class="card-title"><img src="./images/general-features.png" alt="..." />  General Features</h5>
            <p class="card-text">
              <%- include('generalFeature')-%> 
            </p>
            <p class="card-text">
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body cust-card-body">
            <h5 class="card-title"><img src="./images/user.png" alt="..." /> For Teachers</h5>
            <p class="card-text">
              <ul class="list-group list-group-flush">
                <li class="list-group-item cust-list-group-item cust-border-round">Add new homework for each Grade and Subject</li>
                <li class="list-group-item cust-list-group-item cust-border-round">View all the homeworks created</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Filtering of homeworks by Grade and Subject</li>
                <li class="list-group-item cust-list-group-item cust-border-round">View the list of answers</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Provision to upload files</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Editing of homeworks</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Deletion of homeworks</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Control over submitting answers by means of Active and Closed status for homework</li>
              </ul>
            </p>
            <p class="card-text">
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body cust-card-body">
            <h5 class="card-title"><img src="./images/user.png" alt="..." /> For Students</h5>
            <p class="card-text">
              <ul class="list-group list-group-flush">
                <li class="list-group-item cust-list-group-item cust-border-round">View all the homeworks assigned</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Filtering of homeworks by Grade and Subject</li>
                <li class="list-group-item cust-list-group-item cust-border-round">View the list of answers</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Editing of submitted answer</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Deletion of answers</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Provision to submit answers multiple times</li>
                <li class="list-group-item cust-list-group-item">Provision to upload files</li>
              </ul>
            </p>
            <p class="card-text">
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
      </div>