
<!--
  distinctGradeList: distinctGradeList, distinctSubjectsList: distinctSubjectsList
-->


<form action="/list-homeworks" method="GET">
<%if(distinctGradeList.length !== 0 ){%>
  <div class="row form-row form-group cust-border-round">
  <label class="col-3 col-form-label cust-text-color text-wrap text-break">Grades:</label>
  <div class="col-3">
    <!--For each role create a check box-->
    <% distinctGradeList.forEach((gradeRow) => { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input cust-border-round" type="checkbox" name="grade" value="<%=gradeRow.grade%>">
        <label class="form-check-label cust-text-color" ><%=gradeRow.grade%></label>
      </div>   
    <% }); %>
  </div>
</div>
<% } %> 

<%if(distinctSubjectsList.length !== 0 ){%>
<div class="row form-row form-group">
  <label class="col-3 col-form-label cust-text-color text-break">Subjects:</label>
  <div class="col-3 ">
    <!--For each role create a check box-->
    <% distinctSubjectsList.forEach((subjectRow) => { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input cust-border-round" type="checkbox" name="subject_name" value="<%=subjectRow.subject_name%>">
        <label class="form-check-label cust-text-color" ><%=subjectRow.subject_name%></label>
      </div>   
    <% }); %>
  </div>
  
</div>
<% } %> 

<input class="btn btn-sm btn-outline-secondary cust-bg-color" type="submit" value="Apply">
</form>

