<ul class="list-group list-group-flush">
                <li class="list-group-item cust-list-group-item cust-border-round">Add Teachers, Students and other non teaching staff as users</li>
                <li class="list-group-item cust-list-group-item cust-border-round">User account management</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Deletion of user accounts</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Strict user authentication</li>
                <li class="list-group-item cust-list-group-item cust-border-round">To assign homework</li>
                <li class="list-group-item cust-list-group-item cust-border-round">To submit answers</li>
                <li class="list-group-item cust-list-group-item cust-border-round">Editing of homeworks and answers</li>
              </ul>