<!--Grade selection box-->
<%if(dataSubjectGrade.length !== 0 ){%>
<div class="row form-row form-group">
  <label for="grades" class="col-sm-3 col-form-label">Grade:</label>
  <div class="col-sm-8">
    <select name="grade" id="grades">
      <%dataSubjectGrade.forEach((rowGrade) => {%>
      <!--Value in "value" will be submitted. Not name.-->
      <option value="<%=rowGrade.grade%>"><%= rowGrade.grade %></option>
      <%});%>
    </select>
  </div>
</div>
<%}%>
