<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayePage: 'onlyHomePage'}); -%>
    <h4 class="h4 text-center mt-4 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies
      mi sit amet mollis porta. Aliquam euismod sapien vitae facilisis
      convallis. Vivamus ut lorem sapien. Cras tristique ligula nec enim gravida
      vestibulum.
    </h4>
    <div class="container"></div>
    <%- include('footerIncludes'); -%>
  </body>
</html>
