<html>
  <%- include('headerIncludes'); -%>
  <body>
    <%- include('navbar', {displayePage: 'userPage', user: 'Admin'}); -%>
    <h4 class="h4 text-center mt-4 mb-4">Register New User</h4>
    <div class="container">
      <form action="/new-user" method="POST">
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
      </form>
    </div>
    <%- include('footerIncludes'); -%>
  </body>
</html>
