<div class="row form-row form-group">
  <label class="col-sm-3 col-form-label">Roles:</label>
  <div class="col-sm-8 ">
    <!--For each role create a check box-->
    <% Object.keys(roles).forEach((roleType) => { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="role_ids" value="<%=roles[roleType]%>">
        <label class="form-check-label" ><%=roleType%></label>
      </div>   
    <% }); %>
  </div>
</div>
