<!--Drop down button for the Settings-->
<div class="header-dropdown container">
  <div class="dropdown ml-auto">
    <button
      class="btn btn-dark btn-sm dropdown-toggle"
      type="button"
      id="settingDropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Settings
    </button>
    <div class="dropdown-menu" aria-labelledby="settingDropdownMenuButton">
      <!--Edit Profile-->
      <!--Change Password-->
    </div>
  </div>
</div>
