<!--Status selection box-->
<div class="row form-row form-group">
  <label for="status" class="col-sm-3 col-form-label">Status:</label>
  <div class="col-sm-8">
    <select name="status" id="status">
      <!--Value in "value" will be submitted,Not name.-->
      <option value="Active">Active</option>
      <option value="Closed">Closed</option>
    </select>
  </div>
</div>
