/* body {
  line-height: 1.5em !important; 
   background-color: rgba(31, 241, 231, 0.301);
} */

.cust-nav-color {
  /* background-color: rgb(56, 87, 35) !important;
  color: olive !important; */
  background-color: darkslategray !important;
  color: lightseagreen !important;
}

.cust-nav-btn {
  background-color: rgb(226, 240, 217);
  color: rgb(15, 32, 4) !important;
}

.cust-nav-list {
  color: rgb(171, 224, 141) !important;
}

.cust-jumbotron {
  /* background-color: rgb(24, 49, 5);
  color: darkseagreen; */
  background-color: #02444e;
  color: rgb(200, 241, 241);
  margin: 0 4 0 4;
}

.cust-border-round {
  border-radius: 4px;
}

/*
set z-index to a value > 1, and had to set position: relative; on the element to make it clickable on top of the stretched-link.
*/
.btn-over-stretched {
  z-index: 2;
  position: relative;
}

.btn-over-stretched:hover {
  background-color: rgb(199, 235, 238);
}

.list-group-item-action:hover {
  font-size: large;
  font-weight: 600;
  font-style: italic;
}

.custom-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
